{% extends "base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}

<div class="container">
    <div class="row d-flex justify-content-center text-center">
        <div class="col-lg-8 mt-3">
            <h3>{% trans "Sign In" %}</h3>

            <p class="text-start">{% blocktrans %}Welcome back to the code|star blog. To leave a comment or like a post,
                please log in. If
                you
                have not created an account yet, then <a class="link" href="{{ signup_url }}">register</a>
                first.{% endblocktrans %}</p>
        </div>
    </div>
    <div class="row d-flex justify-content-center text-center">
        <div class="col-lg-8 mt-3">
            <div class="row d-flex justify-content-center text-center">
                <form class="login" method="POST" action="{% url 'account_login' %}">
                    {% csrf_token %}
                    {{ form.as_p }}
                    {% if redirect_field_value %}
                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                    {% endif %}
                    <div class="text-center">
                        <button class="btn btn-primary right" type="submit">{% trans "Sign In" %}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}