{% extends "base.html" %}

{% load static %}
{% load form_tags %}
{% load range_tags %}

{% block content %}
<div class="container py-4">
    <!-- Customer Reviews Section -->
    <section id="all-reviews" class="">
        <h1 class="text-center">Customer Reviews</h1>
        <div class="row justify-content-center mx-1">
            <div class="col-lg-8 p-0">
                <!-- Loop through all reviews -->
                {% for review in reviews %}
                <div class="bg-white-form border my-4 p-2">
                    <div class="d-flex justify-content-between">
                        <!-- Review creation date -->
                        <p class="text-muted mb-0">Created: {{ review.created_at|date:"d M Y" }}</p>
                        <!-- Review rating display -->
                        <div class="review-rating d-flex">
                            {% for i in 5|times %}
                            {% if i <= review.rating %}
                            <span class="text-warning">★</span>
                            {% else %}
                            <span class="text-secondary">☆</span>
                            {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                    <!-- Review comment -->
                    <div class="p-2">{{ review.comment }}</div>
                    <div class="d-flex justify-content-end">
                        <!-- Review author display -->
                        <div class="text-muted text-end">
                            {% if user.is_authenticated and review.user == user %}
                            This is your review
                            {% else %}
                            {% if review.is_anonymous %}
                            By anonymous
                            {% else %}
                            By {{ review.user.username }}
                            {% endif %}
                            {% endif %}
                        </div>
                        <!-- Edit and Delete options for the review owner -->
                        <div class="d-flex">
                            {% if user.is_authenticated and review.user == user %}
                            <a href="{% url 'edit_review' review.id %}" data-bs-toggle="tooltip"
                                data-bs-title="Edit Review"><i class="bi bi-pen-fill mx-2"></i></a>
                            <a href="{% url 'delete_review' review.id %}" data-bs-toggle="tooltip"
                                data-bs-title="Delete Review"><i class="bi bi-trash-fill"></i></a>
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>

    <!-- Pagination Controls -->
    {% if is_paginated %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            <!-- Previous Page Link -->
            {% if page_obj.has_previous %}
            <li class="page-item"><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV</a>
            </li>
            {% endif %}

            <!-- Page Number Links -->
            {% for num in page_obj.paginator.page_range %}
            {% if page_obj.number == num %}
            <li class="page-item active"><a href="?page={{ num }}" class="page-link">{{ num }}</a></li>
            {% elif num > page_obj.number|add:-3 and num < page_obj.number|add:3 %}
            <li class="page-item"><a href="?page={{ num }}" class="page-link">{{ num }}</a></li>
            {% elif num == 1 or num == page_obj.paginator.num_pages %}
            <li class="page-item"><a href="?page={{ num }}" class="page-link">{{ num }}</a></li>
            {% elif num == page_obj.number|add:-3 %}
            <li class="page-item"><span class="page-link">...</span></li>
            {% elif num == page_obj.number|add:3 %}
            <li class="page-item"><span class="page-link">...</span></li>
            {% endif %}
            {% endfor %}

            <!-- Next Page Link -->
            {% if page_obj.has_next %}
            <li class="page-item"><a href="?page={{ page_obj.next_page_number }}" class="page-link">NEXT &raquo;</a>
            </li>
            {% endif %}
        </ul>
    </nav>
    {% endif %}
</div>

{% endblock %}