{% extends "base.html" %}

{% load static %}
{% load form_tags %}

{% block content %}
<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <!-- Heading and Booking Information -->
            <h2 class="text-center">Leave a Review for Booking {{ booking.car }} </h2>
            <p class="text-center">From {{ booking.start_date}} to {{ booking.end_date}}</p>

            <!-- Review Form -->
            <form method="post" class="my-2 my-md-4">
                {% csrf_token %}

                <!-- Star Rating -->
                <div class="text-end">
                    <div class="form-group">
                        <div class="star-rating">
                            <label for="id_rating_0">
                                <input type="radio" name="rating" value="1" id="id_rating_0">
                                ★
                            </label>
                            <label for="id_rating_1">
                                <input type="radio" name="rating" value="2" id="id_rating_1">
                                ★
                            </label>
                            <label for="id_rating_2">
                                <input type="radio" name="rating" value="3" id="id_rating_2">
                                ★
                            </label>
                            <label for="id_rating_3">
                                <input type="radio" name="rating" value="4" id="id_rating_3">
                                ★
                            </label>
                            <label for="id_rating_4">
                                <input type="radio" name="rating" value="5" id="id_rating_4">
                                ★
                            </label>
                        </div>
                    </div>

                    <!-- Comment Field -->
                    <div> {{ form.comment|add_class:"form-control w-100 p-3" }}</div>

                    <!-- Anonymous Checkbox -->
                    <div class="my-2">
                        <label for="id_is_anonymous" class="custom-checkbox-container">
                            Leave anonymously
                            {{ form.is_anonymous }}
                            <span class="checkmark"></span>
                        </label>
                    </div>

                    <!-- Hidden Rating Input -->
                    <input type="hidden" name="rating" id="rating-hidden" required="False" value="">

                    <!-- Submit Button -->
                    <div class="my-4 text-center">
                        <button type="submit" class="btn btn-primary">Submit Review</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- JavaScript for Rating Handling -->
<script src="{% static 'js/rating.js' %}"></script>

{% endblock %}