{% extends "base.html" %}

{% load static %}
{% load form_tags %}
{% load range_tags %}

{% block content %}

<div class="container my-reviews-container py-4">
    <h1 class="text-center">My Reviews</h1>
    <div class="row justify-content-center mx-1">
        <div class="col-lg-8 px-0">
            {% for review in reviews %}
            <div class="bg-white-form my-3 p-2 my-md-4 p-md-4 {% if not review.approved %}
            faded {% endif %}">
                {% if not review.approved %}
                <!-- Approval Status -->
                <p class="approval text-end">
                    This Review is awaiting approval
                </p>
                {% endif %}

                <!-- Review Header and Actions -->
                <div class="d-flex justify-content-between">
                    <div>
                        <h2 class="h4">Review for booking {{ review.booking.car }}</h2>
                    </div>
                    <div class="d-flex">
                        <!-- Edit Review Button -->
                        <a href="{% url 'edit_review' review.id %}" aria-label="Edit Review" data-bs-toggle="tooltip"
                            data-bs-title="Edit Review"><i class="bi bi-pen-fill mx-2"></i></a>
                        <!-- Delete Review Button -->
                        <a href="{% url 'delete_review' review.id %}" aria-label="Delete Review" data-bs-toggle="tooltip"
                            data-bs-title="Delete Review"><i class="bi bi-trash-fill"></i></a>
                    </div>
                </div>

                <!-- Review Date and Rating -->
                <p>From {{ review.booking.start_date|date:"d M Y" }}
                    to {{ review.booking.end_date|date:"d M Y" }}</p>
                <div class="d-flex justify-content-between">
                    <p class="text-muted mb-0">Created: {{ review.created_at|date:"d M Y" }}</p>
                    <div class="review-rating">
                        {% for i in 5|times %}
                        {% if i <= review.rating %}
                        <span class="text-warning">★</span>
                        {% else %}
                        <span class="text-secondary">☆</span>
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>

                <!-- Review Author -->
                <div class="author">
                    {% if review.is_anonymous %}
                    As anonymous
                    {% else %}
                    As {{ review.user.username }}
                    {% endif %}
                </div>

                <!-- Review Comment -->
                <p class="comment-field border p-2">{{ review.comment }}</p>
            </div>
            {% empty %}
            <p>You have not left any reviews yet.</p>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}