h1, h2, h3, h4, h5, h6 {
    font-family: "Montserrat", sans-serif;
    color: #0A210F;
}

/* ----------------LOGO--------------- */
.brand-logo {
    height: 40px;
    margin-right: 10px;
}

@media screen and (min-width: 992px) {
    .brand-logo {
        height: 70px;
    }
  }

/* ----------------END LOGO--------------- */

.btn-primary {
    background-color: rgba(107, 167, 86, 1);
    border-color: #0A210F;
    color: #0A210F;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
    background-color: rgba(107, 167, 86, 0.6);
    border-color: #0A210F;
    color: #0A210F;
}

.btn-primary:focus,
.btn-primary:active:focus,
.btn-secondary:focus,
.btn-secondary:active:focus {
    box-shadow: 0 0 0  rgba(10, 33, 15, .5);
}

.btn-secondary {
    background-color: rgba(107, 167, 86, 0.4);
    border-color: #0A210F;
    color: #0A210F;
}

.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary:active {
    background-color: rgba(107, 167, 86, 0.2);
    border-color: #0A210F;
    color: #0A210F;
}

.btn-link {
    color: #6BA756;
}

.btn-link:hover {
    color: #6BA756;
}

.navbar,
.dropdown-menu,
.footer {
    background-color: #0A210F;
}

footer,
footer a,
footer a:visited,
footer a:hover {
    color: rgba(255, 255, 255, .55);
}

@media screen and (min-width: 992px) {
    footer a:hover {
        color: #6BA756;
    }
  }

a {
    color: #0A210F;
}

.my-bookings-container a:hover,
.my-reviews-container a:hover {
    color: #6BA756;
}

.accordion-button:not(.collapsed) {
    background-color: rgba(107, 167, 86, .6);
    color: #0A210F;
}

.accordion-button:focus {
    border-color: #0A210F;
    box-shadow: 0 0 0 .25rem rgba(10, 33, 15, .5);
}

#advantages i {
    color: #6BA756;
}

.changeable_booking_info input[type="checkbox"]:checked {
    color: #0A210F;
  }

.badge {
    background-color: rgba(107, 167, 86, .6);
    color: #0A210F;
}

.page-item.active .page-link {
    z-index: 3;
    color: #fff;
    background-color: #0A210F;
    border-color: #0A210F;
}

.page-link {
    position: relative;
    display: block;
    color: #0A210F;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #dee2e6;
}

.page-link:hover {
    z-index: 2;
    color: #0A210F;
    background-color: #e9ecef;
    border-color: #dee2e6;
}

.page-link:focus {
    color: #0A210F;
    background-color: #e9ecef;
    box-shadow: 0 0 0 .25rem rgba(13, 73, 21, .25);
}

.errorlist {
    color: #dc3545;
}

  /* ---------Custom checkbox--------- */
  .custom-checkbox-container input[type="checkbox"] {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .custom-checkbox-container {
    position: relative;
    display: inline-block;
    padding-left: 35px;
    cursor: pointer;
    user-select: none;
  }
  
  .custom-checkbox-container input[type="checkbox"] + .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #eee;
    border: 2px solid #ccc;
    border-radius: 4px;
  }
  
  .custom-checkbox-container input[type="checkbox"]:checked + .checkmark {
    background-color: #0A210F;
    border-color: #0A210F;
  }
  
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  .custom-checkbox-container input[type="checkbox"]:checked + .checkmark:after {
    display: block;
    left: 6px;
    top: 2px;
    width: 5px;
    height: 10px;
    border: solid #fff;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
  }
/* ---------END Custom checkbox--------- */

/* .brand-container {
    display: flex;
    flex-direction: column;
    align-items: center;
} */

.navbar-text {
    margin-top: -10px;
}

.navbar-nav .nav-item .nav-link img {
    margin-right: 8px;
}

.mobile-divider {
    border-bottom: 1px solid #ddd;
    margin: 8px 0;
    width: 100px;
}

#map { 
    height: 400px; 
    width: 100%; 
}

#officeName,
#officePhone,
#officeHours {
    font-size: 1.25rem;
}

.content-container {
    margin-top: 66px;
}

@media screen and (min-width: 992px) {
    .content-container {
        margin-top: 96px;
    }
  }

/* -----------------Car list---------------------- */
.image-container {
    position: relative;
    height: 190px;
    overflow: hidden;
}

.car-image {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 80%;
    height: auto;
    transform: translate(-50%, -50%);
    object-fit: cover;
}

.car-info p,
.search-form p {
    margin-bottom: 0;
}

.form-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.form-row .col-md-3 {
    flex: 1;
    padding-right: 1rem;
}

.hide-select-arrow {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: none;
    border: none;
    pointer-events: none;
    padding: 0;
    font-size: 1rem;
    color: #574e49;
}

.btn-link {
    padding: 0;
}

.btn-link:focus {
    outline: none;
    box-shadow: none;
}

.alert-error {
    color: #842029;
    background-color: #f8d7da;
    border-color: #f5c2c7;
}

.age-limit {
    margin-bottom: 0;
    font-size: 0.75rem;
}



/* ----------------Stars in review ----------------*/

.star-rating {
    display: inline-flex;
    flex-direction: row;
    justify-content: flex-start;
}

.star-rating input {
    display: none;
}

.star-rating label {
    cursor: pointer;
    font-size: 2rem;
    color: gray;
    margin: 0;
    padding: 0;
}

.star-rating label.checked,
.star-rating label.preview {
    color: gold;
}

.star-rating label.preview:hover,
.star-rating label.preview:hover ~ label {
    color: gold;
}


/* ----------------END Stars in review END ----------------*/

.comment-field {
    height: 150px;
    overflow-y: auto;
    overflow-x: hidden;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.review-field {
    height: 100px;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 10px;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.faded {
    color: rgb(172, 175, 175);
}

/* ----------------Review Carousel ----------------*/

.carousel-item .row {
    width: 100%;
}

.carousel-item .col-md-6 {
    flex: 1;
    padding: 0 10px;
}

@media (max-width: 576px) {
    .carousel-item .col-md-6 {
        flex: 1 0 100%;
        padding: 0;
    }
}

  @media screen and (min-width: 576px) {
    .carousel-inner {
      display: flex;
    }
    .carousel-item {
      display: flex;
      display: block;
      margin-right: 0;
      flex: 0 0 calc(100% / 2);
    }
    .img-wrapper {
      height: 21vw;
    }
  }

  .carousel-inner {
    padding: 1em;
  }
  .card {
    margin: 0 0.5em;
    border-radius: 0;
    box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
    font-size: 0.9em;
  }
  
  .carousel-control-prev,
  .carousel-control-next {
    width: 6vh;
    height: 6vh;
    background-color: #e1e1e1;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0.5;
  }
  .carousel-control-prev:hover,
  .carousel-control-next:hover {
    opacity: 0.8;
  }

  /* ----------------END Review Carousel ----------------*/

