.brand-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navbar-text {
    margin-top: -10px;
}

.navbar-nav .nav-item .nav-link img {
    margin-right: 8px;
}

#map { 
    height: 400px; 
    width: 100%; 
}

#officeName,
#officePhone,
#officeHours {
    font-size: 1.25rem;
}

/* -----------------Car list---------------------- */
.image-container {
    position: relative;
    height: 190px;
    overflow: hidden;
}

.car-image {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 80%;
    height: auto;
    transform: translate(-50%, -50%);
    object-fit: cover;
}

.car-info p {
    margin-bottom: 0;
}
