{% extends "base.html" %}

{% load static %}

{% block content %}
<div class="container">
    <h1 class="text-center">Car Booking</h1>
    <div class="search-form d-flex justify-content-center">
        <form method="POST" action="{% url 'booking' %}">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Search</button>
        </form>
    </div>

    {% if cars %}
    <div class="filters d-flex justify-content-center align-items-center mt-4">
        <h2 class="mx-2">Filters</h2>
        <label class="mx-2">
            <input type="checkbox" id="air-conditioning" name="air_conditioning"> Air Conditioning
        </label>
        <label class="mx-2">
            <input type="checkbox" id="navigation" name="navigation"> Navigation
        </label>

        <label for="car-type" class="mx-2">Car Type:</label>
        <select id="car-type" name="car_type" class="mx-2">
            <option value="all">All Types</option>
            {% for car_type in car_types %}
            <option value="{{ car_type }}">{{ car_type }}</option>
            {% endfor %}
        </select>

        <label for="transmission" class="mx-2">Transmission:</label>
        <select id="transmission" name="transmission" class="mx-2">
            <option value="all">All</option>
            {% for transmission in transmissions %}
            <option value="{{ transmission }}">{{ transmission }}</option>
            {% endfor %}
        </select>

        <label for="sort" class="mx-2">Sort by:</label>
        <select id="sort" class="mx-2">
            <option value="default" selected>Default</option>
            <option value="price_asc">Price per day ↑</option>
            <option value="price_desc">Price per day ↓</option>
        </select>
    </div>


    <div id="car-list-container" class="col-12 mt-3">
    </div>
    {% if is_paginated %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link"> PREV &laquo;</a></li>
            {% endif %}
            {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>
            {% endif %}
        </ul>
    </nav>
    {% endif %}
</div>
{% endif %}
</div>

<script>
    $(document).ready(function () {
        // Function to update temporary selections
        function updatePickupTimeChoices(officeId) {
            $.ajax({
                url: "{% url 'update_pickup_time_choices' %}",
                data: {
                    'office_id': officeId
                },
                success: function (data) {
                    var pickUpTimeSelect = $('#id_pick_up_time');
                    var dropOffTimeSelect = $('#id_drop_off_time');
                    pickUpTimeSelect.empty(); // Clearing the list before updating
                    dropOffTimeSelect.empty(); // Clearing the list before updating

                    // Enumeration of received temporary selections for Pick up time
                    $.each(data.choices, function (index, value) {
                        pickUpTimeSelect.append($('<option></option>').attr('value', value[
                            0]).text(value[1]));
                    });

                    // Iterate through the received temporary selections for Drop off time
                    $.each(data.choices, function (index, value) {
                        dropOffTimeSelect.append($('<option></option>').attr('value', value[
                            0]).text(value[1]));
                    });

                    // Setting the default time to 09:00 for Pick up time
                    pickUpTimeSelect.val('09:00');

                    // Setting the default time to 09:00 for Drop off time
                    dropOffTimeSelect.val('09:00');
                }
            });
        }

        // Initializing temporary selections on page load
        updatePickupTimeChoices($('#id_pickup_office').val());

        // Office selection change handler
        $('#id_pickup_office').change(function () {
            updatePickupTimeChoices($(this).val());
        });

        // Removing an empty line from office lists
        $('#id_pickup_office option:first').remove();
        $('#id_return_office option:first').remove();

        // Function to update car list based on filters
        function updateCarList() {
            var formData = {
                'car_type': $('#car-type').val(),
                'transmission': $('#transmission').val(),
                'sort_by': $('#sort').val(),
                // Add additional filters here as needed
            };

            $.ajax({
                url: "{% url 'update_car_list' %}",
                data: formData,
                success: function (data) {
                    $('#car-list').html(data);
                }
            });
        }

        // Event listeners for filter change
        $('#car-type, #transmission, #sort').change(function () {
            updateCarList();
        });

        // Initial load of car list
        updateCarList();
    });
</script>
<script>
    $(document).ready(function () {
        // Function to update temporary selections
        function updatePickupTimeChoices(officeId) {
            $.ajax({
                url: "{% url 'update_pickup_time_choices' %}",
                data: {
                    'office_id': officeId
                },
                success: function (data) {
                    var pickUpTimeSelect = $('#id_pick_up_time');
                    var dropOffTimeSelect = $('#id_drop_off_time');
                    pickUpTimeSelect.empty(); // Clearing the list before updating
                    dropOffTimeSelect.empty(); // Clearing the list before updating

                    // Enumeration of received temporary selections for Pick up time
                    $.each(data.choices, function (index, value) {
                        pickUpTimeSelect.append($('<option></option>').attr('value', value[
                            0]).text(value[1]));
                    });

                    // Iterate through the received temporary selections for Drop off time
                    $.each(data.choices, function (index, value) {
                        dropOffTimeSelect.append($('<option></option>').attr('value', value[
                            0]).text(value[1]));
                    });

                    // Setting the default time to 09:00 for Pick up time
                    pickUpTimeSelect.val('09:00');

                    // Setting the default time to 09:00 for Drop off time
                    dropOffTimeSelect.val('09:00');
                }
            });
        }

        // Initializing temporary selections on page load
        updatePickupTimeChoices($('#id_pickup_office').val());

        // Office selection change handler
        $('#id_pickup_office').change(function () {
            updatePickupTimeChoices($(this).val());
        });

        // Removing an empty line from office lists
        $('#id_pickup_office option:first').remove();
        $('#id_return_office option:first').remove();
    });
</script>
<script src="{% static 'js/booking_form.js' %}"></script>
<script src="{% static 'js/update_car_list.js' %}"></script>
{% endblock %}