{% extends "base.html" %}

{% block content %}
<div class="container">
    <h1 class="text-center my-4">Complete Your Booking</h1>
    {% if messages %}
    <div class="container">
        {% for message in messages %}
        <div class="alert alert-danger">{{ message }}</div>
        {% endfor %}
    </div>
    {% endif %}
    <form method="POST">
        {% csrf_token %}
        <!-- Display form errors -->
        {% if form.errors %}
        <div class="alert alert-danger">
            <ul>
                {% for field in form %}
                {% for error in field.errors %}
                <li><strong>{{ field.label }}:</strong> {{ error }}</li>
                {% endfor %}
                {% endfor %}
            </ul>
        </div>
        {% endif %}
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="unchangeable_booking_info border px-3">
                    <div class="row d-flex my-3 justify-content-center">
                        <div class="col-sm-4">
                            {{ form.pickup_office.label_tag }}
                            {{ form.pickup_office }}
                        </div>
                        <div class="col-sm-4">
                            {{ form.start_date.label_tag }}
                            {{ form.start_date }}
                        </div>
                        <div class="col-sm-4">
                            {{ form.pick_up_time.label_tag }}
                            {{ form.pick_up_time }}
                        </div>
                    </div>

                    <div class="row d-flex my-3 justify-content-center">
                        <div class="col-sm-4">
                            {{ form.return_office.label_tag }}
                            {{ form.return_office }}
                        </div>
                        <div class="col-sm-4">
                            {{ form.end_date.label_tag }}
                            {{ form.end_date }}
                        </div>
                        <div class="col-sm-4">
                            {{ form.drop_off_time.label_tag }}
                            {{ form.drop_off_time }}
                        </div>
                    </div>

                    <div class="accordion my-3" id="carAccordion">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingOne">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                    <div class="form-group col">
                                        {{ form.car.label_tag }}
                                        {{ form.car }}
                                    </div>
                                </button>
                            </h2>
                            <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
                                data-bs-parent="#carAccordion">
                                <div class="accordion-body">
                                    <div class="row my-2 flex">
                                        <div class="col-sm-6">
                                            <div>
                                                Price per day: {{ car.price_per_day }}€
                                            </div>
                                            <div>
                                                Type: {{ car.type }}
                                            </div>
                                            <div>
                                                Transmission: {{ car.transmission }}
                                            </div>
                                            <div>
                                                Fuel: {{ car.fuel_type }}
                                            </div>
                                            <div>
                                                Seats: {{ car.seats }}
                                            </div>
                                            <div>
                                                Doors: {{ car.doors }}
                                            </div>
                                            <div>
                                                Air Conditioning:
                                                {% if car.air_conditioning %}
                                                Yes
                                                {% else %}
                                                No
                                                {% endif %}
                                            </div>
                                            <div>
                                                Navigation:
                                                {% if car.navigation %}
                                                Yes
                                                {% else %}
                                                No
                                                {% endif %}
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <img src="{{ car.image.url }}" alt="Car image" class="img-fluid">
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="changeable_booking_info border my-2 px-3">
                    <div class="row my-4">
                        <div class="col">
                            {{ form.first_name.label_tag }}
                            {{ form.first_name }}
                        </div>
                    </div>
                    <div class="row my-4">
                        <div class="col">
                            {{ form.last_name.label_tag }}
                            {{ form.last_name }}
                        </div>
                    </div>
                    <div class="row my-4">
                        <div class="col">
                            {{ form.email.label_tag }}
                            {{ form.email }}
                        </div>
                    </div>
                    <div class="row my-4">
                        <div class="col">
                            {{ form.phone_number.label_tag }}
                            {{ form.phone_number }}
                        </div>
                    </div>
                    <div class="row my-4">
                        <div class="col">
                            {{ form.date_of_birth.label_tag }}
                            {{ form.date_of_birth }}
                        </div>
                    </div>
                    <div class="row my-4">
                        <div class="col">
                            {{ form.child_seat.label_tag }}
                            {{ form.child_seat }} {{ form.child_seat_option }}
                        </div>
                    </div>
                    <div class="row my-4">
                        <div class="col">
                            <label for="id_extra_insurance">Extra Insurance 5€/day Max. 50€</label>
                            {{ form.extra_insurance }}
                            <button type="button" class="btn btn-link" data-bs-toggle="modal"
                                data-bs-target="#insuranceModal">
                                More About Extra Insurance
                            </button>
                        </div>
                    </div>
                    <div class="row my-4">
                        <div class="col">
                            {{ form.rules_agreement.label_tag }}
                            {{ form.rules_agreement }}
                            <button type="button" class="btn btn-link" data-bs-toggle="modal"
                                data-bs-target="#termsModal">
                                Read Terms and Conditions
                            </button>
                        </div>
                    </div>
                    <div class="d-flex justify-content-center">
                        <h3 id="totalPrice">Final Price: {{ total_cost }}€ for {{ rental_days }}
                            {% if car.rental_days == 1 %}
                            day
                            {% else %}
                            days
                            {% endif %}</h3>
                    </div>
                    <input type="hidden" name="total_price" id="totalCostInput">
                    <div class="d-flex my-4 justify-content-center">
                        <button class="btn btn-primary mx-2" type="submit">Book Now</button>
                    </div>
                </div>
    </form>
</div>
<div class="modal fade" id="termsModal" tabindex="-1" aria-labelledby="termsModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="termsModalLabel">Terms and Conditions</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Terms and conditions content goes here...</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="agreeButton">I have read and agree</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="insuranceModal" tabindex="-1" aria-labelledby="insuranceModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-center" id="insuranceModalLabel">Extra Insurance</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>You can enhance your insurance coverage for a nominal additional fee. By selecting <strong>Extra
                        Insurance</strong> alongside the comprehensive protection included in your rental,
                    you'll be covered for the following exceptions:</p>

                <h4>Price without insurance (approx*):</h4>
                <ul>
                    <li>Lost key: €150</li>
                    <li>Rim damage: €150</li>
                    <li>Tyre damage: €100</li>
                    <li>Incorrect fuel type refueling: €250</li>
                    <li>Accidental battery drain: €200</li>
                    <li>*Plus towing service: €200</li>
                </ul>

                <p>This insurance will protect you against all exceptions not already included in our policy, except for
                    those excluded by any insurer.</p>

                <p>Secure your coverage now for just €5 per day, up to a maximum of €50 for any vehicle, and enjoy
                    stress-free car rental.</p>

                <p><strong>The ideal choice for complete protection.</strong></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="okButton">Ok</button>
            </div>
        </div>
    </div>
</div>

<script>
    function updateTotalCost() {
        const rentalDays = {{ rental_days }};
        const insuranceCheckbox = document.querySelector('input[name="extra_insurance"]');
        const baseCost = {{ total_cost }};

        let extraInsuranceCost = 0;
        if (insuranceCheckbox.checked) {
            extraInsuranceCost = Math.min(rentalDays * 5, 50);
        }

        let totalCost = baseCost + extraInsuranceCost;
        totalCost = totalCost.toFixed(2);
        document.getElementById('totalPrice').innerText =
            `Final Price: ${totalCost}€ for ${rentalDays} ${rentalDays === 1 ? 'day' : 'days'}`;

        document.getElementById('totalCostInput').value = totalCost;
    }

    document.addEventListener('DOMContentLoaded', function () {
        const extraInsuranceCheckbox = document.querySelector('input[name="extra_insurance"]');
        extraInsuranceCheckbox.addEventListener('change', updateTotalCost);

        updateTotalCost();

    });

    function toggleChildSeatOption(checkbox) {
        const childSeatOptionField = document.querySelector('select[name="child_seat_option"]');
        if (checkbox.checked) {
            childSeatOptionField.disabled = false;
            childSeatOptionField.required = true;
        } else {
            childSeatOptionField.disabled = true;
            childSeatOptionField.required = false;
            childSeatOptionField.value = '';
        }
    }
    document.addEventListener('DOMContentLoaded', function () {
        // Modal Insurance
        const agreeButton = document.getElementById('agreeButton');
        const rulesAgreementCheckbox = document.querySelector('input[name="rules_agreement"]');
        agreeButton.addEventListener('click', function () {
            rulesAgreementCheckbox.checked = true;
            const modal = bootstrap.Modal.getInstance(document.getElementById('termsModal'));
            modal.hide();
        });

        // Modal Insurance
        const okButton = document.getElementById('okButton');
        okButton.addEventListener('click', function () {
            const modal = bootstrap.Modal.getInstance(document.getElementById('insuranceModal'));
            modal.hide();
        });

    });

    document.addEventListener('DOMContentLoaded', function () {
        const childSeatCheckbox = document.querySelector('input[name="child_seat"]');
        const childSeatOptionField = document.querySelector('select[name="child_seat_option"]');
        toggleChildSeatOption(childSeatCheckbox);
    });
</script>
{% endblock %}