<div class="row justify-content-center">
    {% for car in cars %}
    <div class="my-1 my-md-2 col-lg-8 px-1 px-lg-0">
        <div class="card">
            <div class="card-body">
                <div class="row align-items-center">
                    <!-- Car Image -->
                    <div class="image-container  col-md-6">
                        <img class="card-img-left car-image" src="{{ car.image.url }}" alt="{{ car.model }}">
                    </div>
                    <!-- Car Information -->
                    <div class="car-info col-md-6 text-center text-md-start">
                        <h3>
                            <a href="#" class="car-name" data-car-id="{{ car.id }}" data-bs-toggle="modal"
                                data-bs-target="#detailCar">
                                {{ car.make }} {{ car.model }} <span
                                    class="fw-normal fs-5 fst-italic">{{ car.type }}</span>
                            </a>
                        </h3>
                        <p>Fuel: {{ car.fuel_type }}</p>
                        <p>Transmission: {{ car.transmission }}</p>
                        <p>Seats: {{ car.seats }}</p>
                        <p>Doors: {{ car.doors }}</p>
                        <p>Price per day: €{{ car.price_per_day }}</p>
                        <div class="my-2">
                            {% if user.is_authenticated %}
                            <a class="reserve-button btn btn-lg btn-primary"
                                href="{% url 'booking_form' car.id %}?start_date={{ start_date|date:'d F Y'|urlencode  }}&end_date={{ end_date|date:'d F Y'|urlencode  }}&pick_up_time={{ pick_up_time }}&drop_off_time={{ drop_off_time }}&pickup_office={{ pickup_office|urlencode }}&return_office={{ return_office|urlencode }}">
                                Reserve €{{ car.total_cost }} for {{ car.rental_days }}
                                {% if car.rental_days == 1 %}
                                day
                                {% else %}
                                days
                                {% endif %}
                            </a>
                            {% else %}
                            <a href="{% url 'account_login' %}" class="login-to-continue btn btn-primary">Login to
                                Continue</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>