{% extends "base.html" %}

{% load form_tags %}

{% block content %}
<div class="container py-5">
    <h2 class="text-center">Edit Booking</h2>
    <form method="POST" class="my-4">
        {% csrf_token %}
        <!-- Display form errors -->
        {% if form.errors %}
        <div class="alert alert-danger">
            <ul>
                {% for field in form %}
                {% for error in field.errors %}
                <li><strong>{{ field.label }}:</strong> {{ error }}</li>
                {% endfor %}
                {% endfor %}
            </ul>
        </div>
        {% endif %}
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="unchangeable_booking_info border px-3">
                    <div class="row d-flex my-3 justify-content-center">
                    <p class="my-1 text-decoration-underline">Pick Up:</p>                        
                        <div class="col-sm-4">
                            <div class="row flex">
                                <div class="col-3 col-sm-12">
                                    Office:
                                </div>
                                <div class="col-auto col-sm-12">
                                    {{ form.pickup_office }}
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="row flex">
                                <div class="col-3 col-sm-12">
                                    Date:
                                </div>
                                <div class="col-auto col-sm-12">
                                    {{ form.start_date }}
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="row flex">
                                <div class="col-3 col-sm-12">
                                    Time:
                                </div>
                                <div class="col-auto col-sm-12">
                                    {{ form.pick_up_time }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row d-flex my-3 justify-content-center">
                    <p class="my-1 text-decoration-underline">Return:</p>
                        <div class="col-sm-4">
                            <div class="row flex">
                                <div class="col-3 col-sm-12">
                                    Office:
                                </div>
                                <div class="col-auto col-sm-12">
                                    {{ form.return_office }}
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="row flex">
                                <div class="col-3 col-sm-12">
                                    Date:
                                </div>
                                <div class="col-auto col-sm-12">
                                    {{ form.end_date }}
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="row flex">
                                <div class="col-3 col-sm-12">
                                    Time:
                                </div>
                                <div class="col-auto col-sm-12">
                                    {{ form.drop_off_time }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="accordion my-3" id="carAccordion">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingOne">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                    {{ car.make }} {{ car.model }}
                                </button>
                            </h2>
                            <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
                                data-bs-parent="#carAccordion">
                                <div class="accordion-body">
                                    <div class="row my-2 flex align-items-center">
                                        <div class="col-sm-6">
                                            <div class="d-none">
                                                {{ form.car }}
                                            </div>
                                            <div>
                                                Price per day: {{ car.price_per_day }}€
                                            </div>
                                            <div>
                                                Type: {{ car.type }}
                                            </div>
                                            <div>
                                                Transmission: {{ car.transmission }}
                                            </div>
                                            <div>
                                                Fuel: {{ car.fuel_type }}
                                            </div>
                                            <div>
                                                Seats: {{ car.seats }}
                                            </div>
                                            <div>
                                                Doors: {{ car.doors }}
                                            </div>
                                            <div>
                                                Air Conditioning:
                                                {% if car.air_conditioning %}
                                                Yes
                                                {% else %}
                                                No
                                                {% endif %}
                                            </div>
                                            <div>
                                                Navigation:
                                                {% if car.navigation %}
                                                Yes
                                                {% else %}
                                                No
                                                {% endif %}
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <img src="{{ car.image.url }}" alt="Car image" class="img-fluid rounded">
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="changeable_booking_info border my-2 px-3">
                    <div class="row my-4">
                        <div class="col">
                            {{ form.first_name.label_tag }}
                            {{ form.first_name|add_class:"w-100 px-2" }}
                        </div>
                    </div>
                    <div class="row my-4">
                        <div class="col">
                            {{ form.last_name.label_tag }}
                            {{ form.last_name|add_class:"w-100 px-2" }}
                        </div>
                    </div>
                    <div class="row my-4">
                        <div class="col">
                            {{ form.email.label_tag }}
                            {{ form.email|add_class:"w-100 px-2" }}
                        </div>
                    </div>
                    <div class="row my-4">
                        <div class="col">
                            {{ form.phone_number.label_tag }}
                            {{ form.phone_number|add_class:"w-100 px-2" }}
                        </div>
                    </div>
                    <div class="row my-4">
                        <div class="col">
                            {{ form.date_of_birth.label_tag }}
                            {{ form.date_of_birth|add_class:"w-100 px-2" }}
                            <p class="text-muted age-limit fst-italic">Age: 23 - 70</p>
                        </div>
                    </div>
                    <div class="row my-4">
                        <div class="col">
                            <label for="id_child_seat" class="custom-checkbox-container">
                                Child seat: <span class="py-2 badge">Free</span>
                                {{ form.child_seat }}
                                <span class="checkmark"></span>
                            </label>
                            {{ form.child_seat_option|add_class:"w-100 px-2 mt-2" }}
                        </div>
                    </div>
                    <div class="row my-4">
                        <div class="col">
                            <label for="id_extra_insurance" class="custom-checkbox-container">
                                Extra Insurance: <span class="py-2 badge">5€/day max. 50€</span>
                                {{ form.extra_insurance }}
                                <span class="checkmark"></span>
                            </label>
                            <button type="button" class="btn btn-link" data-bs-toggle="modal" data-bs-target="#insuranceModal">
                                More About Extra Insurance
                            </button>
                        </div>
                    </div>
                    <div class="row my-4">
                        <div class="col">
                            <label for="id_rules_agreement" class="custom-checkbox-container">
                                Rules agreement:
                                {{ form.rules_agreement }}
                                <span class="checkmark"></span>
                            </label>
                            <button type="button" class="btn btn-link" data-bs-toggle="modal" data-bs-target="#termsModal">
                                Read Terms and Conditions
                            </button>
                        </div>
                    </div>
                    <div class="d-flex justify-content-center">
                        <h3 id="totalPrice">Final Price: {{ total_price.value }}€ for {{ rental_days }}
                            {% if car.rental_days == 1 %}
                            day
                            {% else %}
                            days
                            {% endif %}</h3>
                    </div>
                    <input type="hidden" name="total_price" id="totalCostInput">
                    <input type="hidden" name="rental_days" id="rentalDays">

                    <div class="row d-flex justify-content-aroud text-center my-4">
                        <div class="col-6">
                            <a class="btn btn-light" href="{% url 'my_bookings' %}">Cancel</a>
                        </div>
                        <div class="col-6">
                            <button class="btn btn-primary mx-2 px-4" type="submit">Save</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<div class="modal fade" id="termsModal" tabindex="-1" aria-labelledby="termsModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="termsModalLabel">Terms and Conditions</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                        <h5>Introduction</h5>
                        <p class="small">Welcome to our car rental service. By using our website and services, you agree to comply with and be bound by the following terms and conditions. Please review them carefully.</p>
                        <h5>1. Rental Agreement</h5>
                        <p class="small m-0">1.1. The rental agreement is between the customer (hereinafter referred to as "You" or "Customer") and our car rental company (hereinafter referred to as "We" or "Company").</p>
                        <p class="small">1.2. By renting a vehicle from us, you agree to the terms and conditions outlined in this document.</p>
                        <h5>2. Eligibility</h5>
                        <p class="small m-0">2.1. You must be between 23 and 70 years old to rent a vehicle.</p>
                        <p class="small m-0">2.2. You must possess a valid driver’s license that is recognized in Ireland.</p>
                        <p class="small">2.3. Additional drivers must meet the same eligibility criteria and be listed in the rental agreement.</p>
                        <h5>3. Booking and Confirmation</h5>
                        <p class="small m-0">3.1. A booking is confirmed if a vehicle is available and we can provide it.</p>
                        <p class="small">3.2. Payment is to be made via credit or debit card upon vehicle pick-up.</p>
                        <h5>4. Cancellations and Refunds</h5>
                        <p class="small">4.1. No additional charges are incurred for canceling a booking.</p>
                        <h5>5. Vehicle Pick-up and Return</h5>
                        <p class="small m-0">5.1. Vehicles must be picked up and returned at the specified times and locations.</p>
                        <p class="small m-0">5.2. Late returns may incur additional charges.</p>
                        <p class="small">5.3. The vehicle must be returned in the same condition as it was at the time of pick-up.</p>
                        <h5>6. Usage of the Vehicle</h5>
                        <p class="small m-0">6.1. The vehicle is to be used for personal transportation only.</p>
                        <p class="small m-0">6.2. You are not allowed to sublease or lend the vehicle to others.</p>
                        <p class="small">6.3. You must comply with all traffic laws and regulations.</p>
                        <h5>7. Insurance and Liability</h5>
                        <p class="small m-0">7.1. Basic insurance is included in the rental price.</p>
                        <p class="small m-0">7.2. Additional insurance options are available and recommended.</p>
                        <p class="small">7.3. You are responsible for any damages to the vehicle not covered by the insurance.</p>
                        <h5>8. Fuel Policy</h5>
                        <p class="small m-0">8.1. The vehicle will be provided with a full tank of fuel and must be returned with a full tank.</p>
                        <p class="small">8.2. Failure to return the vehicle with a full tank will result in a refueling charge.</p>
                        <h5>9. Privacy and Data Protection</h5>
                        <p class="small">9.1. We are committed to protecting your privacy. All personal data collected during the booking process will be handled in accordance with our Privacy Policy.</p>
                        <h5>10. Amendments</h5>
                        <p class="small">10.1. We reserve the right to amend these terms and conditions at any time. Any changes will be posted on our website.</p>
                        <h5>11. Governing Law</h5>
                        <p class="small">11.1. These terms and conditions are governed by the laws of Ireland.</p>
                        <h5>Acceptance of Terms</h5>
                        <p class="small">By using our services, you acknowledge that you have read, understood, and agree to be bound by these terms and conditions.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="agreeButton">I have read and agree</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="insuranceModal" tabindex="-1" aria-labelledby="insuranceModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-center" id="insuranceModalLabel">Extra Insurance</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>You can enhance your insurance coverage for a nominal additional fee. By selecting <strong>Extra
                        Insurance</strong> alongside the comprehensive protection included in your rental,
                    you'll be covered for the following exceptions:</p>

                <h4>Price without insurance (approx*):</h4>
                <ul>
                    <li>Lost key: €150</li>
                    <li>Rim damage: €150</li>
                    <li>Tyre damage: €100</li>
                    <li>Incorrect fuel type refueling: €250</li>
                    <li>Accidental battery drain: €200</li>
                    <li>*Plus towing service: €200</li>
                </ul>

                <p>This insurance will protect you against all exceptions not already included in our policy, except for
                    those excluded by any insurer.</p>

                <p>Secure your coverage now for just €5 per day, up to a maximum of €50 for any vehicle, and enjoy
                    stress-free car rental.</p>

                <p><strong>The ideal choice for complete protection.</strong></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="okButton">Ok</button>
            </div>
        </div>
    </div>
</div>


<script>
    function updateTotalCost() {
        const rentalDays = {{ form.rental_days.value }};
        const insuranceCheckbox = document.querySelector('input[name="extra_insurance"]');
        const initialBaseCost = {{ form.total_price.value }};
        const extraInsuranceCost = Math.min(rentalDays * 5, 50);
        let baseCost = initialBaseCost;

        if (insuranceCheckbox.dataset.initialChecked === "true") {
            baseCost -= extraInsuranceCost;
            }

        let totalCost = baseCost;

        if (insuranceCheckbox.checked) {
            totalCost += extraInsuranceCost;
        }

        totalCost = totalCost.toFixed(2);
        document.getElementById('totalPrice').innerText =
            `Final Price: ${totalCost}€ for ${rentalDays} ${rentalDays === 1 ? 'day' : 'days'}`;
        document.getElementById('totalCostInput').value = totalCost;
        document.getElementById('rentalDays').value = rentalDays;
    }

    document.addEventListener('DOMContentLoaded', function () {
        const extraInsuranceCheckbox = document.querySelector('input[name="extra_insurance"]');
        extraInsuranceCheckbox.dataset.initialChecked = extraInsuranceCheckbox.checked ? "true" : "false";
        extraInsuranceCheckbox.addEventListener('change', updateTotalCost);

        updateTotalCost();

    });

    function toggleChildSeatOption(checkbox) {
        const childSeatOptionField = document.querySelector('select[name="child_seat_option"]');
        if (checkbox.checked) {
            childSeatOptionField.disabled = false;
            childSeatOptionField.required = true;
        } else {
            childSeatOptionField.disabled = true;
            childSeatOptionField.required = false;
            childSeatOptionField.value = '';
        }
    }
    document.addEventListener('DOMContentLoaded', function () {
        // Modal Insurance
        const agreeButton = document.getElementById('agreeButton');
        const rulesAgreementCheckbox = document.querySelector('input[name="rules_agreement"]');
        agreeButton.addEventListener('click', function () {
            rulesAgreementCheckbox.checked = true;
            const modal = bootstrap.Modal.getInstance(document.getElementById('termsModal'));
            modal.hide();
        });

        // Modal Insurance
        const okButton = document.getElementById('okButton');
        okButton.addEventListener('click', function () {
            const modal = bootstrap.Modal.getInstance(document.getElementById('insuranceModal'));
            modal.hide();
        });

    });

    document.addEventListener('DOMContentLoaded', function () {
        const childSeatCheckbox = document.querySelector('input[name="child_seat"]');
        const childSeatOptionField = document.querySelector('select[name="child_seat_option"]');
        toggleChildSeatOption(childSeatCheckbox);
    });
</script>
{% endblock %}