{% extends "base.html" %}

{% load static %}

{% block content %}

<div class="container">
    <h1 class="text-center">My Bookings</h1>
    {% if bookings %}
    <div class="row justify-content-center mx-1">
        <div class="col-lg-8">

            {% for booking in bookings %}

            <div class="row border my-2 p-2 my-md-4 p-md-4 align-items-center">
                <div>
                    {% if booking.can_leave_review %}
                    <h3 class="h5 text-center mb-4">Your booking was completed succesfully! You can <a
                            href="{% url 'leave_review' booking.id %}">leave a Review</a>!</h3>
                    {% endif %}
                    {% if booking.status == 'confirmed' %}
                    <h3 class="h5 text-center mb-4">Your booking confirmed! You can leave a review the day after your
                        booking ends!</a></h3>
                    {% endif %}
                    {% if booking.status == 'reviewed' %}
                    <h3 class="h5 text-center mb-4">Your booking was completed succesfully! Thank you for your
                        review!</a></h3>
                    {% endif %}
                </div>
                <div class="d-none d-sm-block col-4">
                    <img src="{{ booking.car.image.url }}" class="img-fluid" alt="Car image">
                </div>
                <div class="col-sm-8">
                    <div class="d-flex justify-content-between">
                        <div>
                            <h4 class="h5">{{ booking.car }}</h4>
                        </div>
                        {% if booking.status == 'confirmed' %}
                        <div class="d-flex">
                            <a href="{% url 'edit_booking' booking.id %}" data-bs-toggle="tooltip"
                                data-bs-title="Edit Booking"><i class="bi bi-pen-fill mx-1"></i></a>
                            <a href="{% url 'delete_booking' booking.id %}" data-bs-toggle="tooltip"
                                data-bs-title="Delete Booking"><i class="bi bi-trash-fill"></i></a>
                        </div>
                        {% endif %}
                    </div>
                    <div>
                        Status: {{ booking.status }}
                    </div>
                    <div>
                        {{ booking.start_date }} ({{ booking.pick_up_time }}) - {{ booking.end_date }}
                        ({{ booking.drop_off_time}})
                    </div>
                    <div>
                        Child seat:
                        {% if booking.child_seat %}
                        Yes ({{ booking.child_seat_option }})
                        {% else %}
                        No
                        {% endif %}
                    </div>
                    <div>
                        Extra Insurance:
                        {% if booking.extra_insurance %}
                        Yes
                        {% else %}
                        No
                        {% endif %}
                    </div>
                    <div class="row flex justify-content-end">
                        <div class="col-auto bg-light p-1 rounded">
                            {{ booking.total_price}}€ for {{ booking.rental_days }}
                            {% if car.rental_days == 1 %}
                            day
                            {% else %}
                            days
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>

            {% endfor %}

            {% else %}

            <p>You have no bookings.</p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}