{% extends "base.html" %}

{% load static %}

{% block content %}

<div class="container my-bookings-container py-5">
    <!-- Page header -->
    <h1 class="text-center">My Bookings</h1>
    {% if bookings %}
    <div class="row justify-content-center mx-1">
        <div class="col-lg-8">

            {% for booking in bookings %}

            <div class="bg-white-form row border my-2 p-2 py-3 my-md-4 p-md-4 align-items-center">
                <div>
                    <!-- Display review prompt based on booking status -->
                    {% if booking.can_leave_review %}
                    <h3 class="h5 text-center mb-4">Your booking completed! You can <a
                            href="{% url 'leave_review' booking.id %}">leave a Review!</a></h3>
                    {% endif %}
                    {% if booking.status == 'confirmed' %}
                    <h3 class="h5 text-center mb-4">Your booking confirmed! You can leave a review the day
                        after your
                        booking ends!</h3>
                    {% endif %}
                    {% if booking.status == 'reviewed' %}
                    <h3 class="h5 text-center mb-4">Your booking completed! Thank you for your
                        review!</h3>
                    {% endif %}
                </div>
                <!-- Display car image -->
                <div class="d-none d-sm-block col-4">
                    <img src="{{ booking.car.image.url }}" class="img-fluid" alt="Car image">
                </div>
                <div class="col-sm-8">
                    <div class="d-flex justify-content-between">
                        <div>
                            <h4 class="h5">
                                <!-- Link to open booking details modal -->
                                <a href="#" class="booking-link" data-bs-toggle="modal" data-bs-target="#bookingModal"
                                    data-booking-id="{{ booking.id }}">
                                    Booking {{ booking.car }}
                                </a>
                            </h4>
                        </div>
                        {% if booking.status == 'confirmed' %}
                        <div class="d-flex">
                            <!-- Links for editing and deleting booking -->
                            <a href="{% url 'edit_booking' booking.id %}" data-bs-toggle="tooltip"
                                data-bs-title="Edit Booking"><i class="bi bi-pen-fill mx-2"></i></a>
                            <a href="{% url 'delete_booking' booking.id %}" data-bs-toggle="tooltip"
                                data-bs-title="Delete Booking"><i class="bi bi-trash-fill"></i></a>
                        </div>
                        {% endif %}
                    </div>
                    <!-- Display booking period -->
                    <div>
                        {{ booking.start_date }} ({{ booking.pick_up_time }}) - {{ booking.end_date }}
                        ({{ booking.drop_off_time}})
                    </div>
                    <!-- Display child seat information -->
                    <div>
                        Child seat:
                        {% if booking.child_seat %}
                        Yes ({{ booking.child_seat_option }})
                        {% else %}
                        No
                        {% endif %}
                    </div>
                    <!-- Display extra insurance information -->
                    <div>
                        Extra Insurance:
                        {% if booking.extra_insurance %}
                        Yes
                        {% else %}
                        No
                        {% endif %}
                    </div>
                    <div class="row flex justify-content-end">
                        <!-- Display total price and rental days -->
                        <div class="col-auto p-1 rounded px-2" id="price-badge">
                            {{ booking.total_price}}€ for {{ booking.rental_days }}
                            {% if booking.rental_days == 1 %}
                            day
                            {% else %}
                            days
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
            {% else %}

            <!-- Message when no bookings -->
            <p>You have no bookings.</p>
            {% endif %}
        </div>
    </div>
</div>

<!-- Modal window for booking details -->
<div class="modal fade" id="bookingModal" tabindex="-1" aria-labelledby="bookingModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="bookingModalLabel">Booking Details</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- Accordion to display detailed booking info -->
                <div class="accordion" id="bookingAccordion">
                    <!-- Car Info -->
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingCar">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseCar" aria-expanded="true" aria-controls="collapseCar">
                                Info about Car
                            </button>
                        </h2>
                        <div id="collapseCar" class="accordion-collapse collapse show" aria-labelledby="headingCar"
                            data-bs-parent="#bookingAccordion">
                            <div class="accordion-body" id="carInfo">
                                <!-- Car Info will be inserted here -->
                            </div>
                        </div>
                    </div>
                    <!-- Booking Info -->
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingBooking">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseBooking" aria-expanded="false" aria-controls="collapseBooking">
                                Info about Booking
                            </button>
                        </h2>
                        <div id="collapseBooking" class="accordion-collapse collapse" aria-labelledby="headingBooking"
                            data-bs-parent="#bookingAccordion">
                            <div class="accordion-body" id="bookingInfo">
                                <!-- Booking Info will be inserted here -->
                            </div>
                        </div>
                    </div>
                    <!-- Customer Info -->
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingCustomer">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseCustomer" aria-expanded="false"
                                aria-controls="collapseCustomer">
                                Info about Customer
                            </button>
                        </h2>
                        <div id="collapseCustomer" class="accordion-collapse collapse" aria-labelledby="headingCustomer"
                            data-bs-parent="#bookingAccordion">
                            <div class="accordion-body" id="customerInfo">
                                <!-- Customer Info will be inserted here -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        // Initialize the Bootstrap modal
        const modal = new bootstrap.Modal(document.getElementById('bookingModal'));

        // Add event listeners to each booking link
        document.querySelectorAll('.booking-link').forEach(link => {
            link.addEventListener('click', function () {
                const bookingId = this.dataset.bookingId;

                // Format date for display
                function formatDate(dateString) {
                    const date = new Date(dateString);
                    const options = {
                        day: 'numeric',
                        month: 'long',
                        year: 'numeric'
                    };
                    return date.toLocaleDateString('en-GB', options);
                }

                // Fetch booking details from the server
                fetch(`/booking/booking_details/${bookingId}/`)
                    .then(response => response.json())
                    .then(data => {

                        // Populate car information in the modal
                        document.getElementById('carInfo').innerHTML = `
                        <p><strong>${data.car_model} ${data.car_make} (${data.car_year}) ${data.car_type} </strong></p>
                        <p><strong>Price per day:</strong> ${data.car_price_per_day}€</p>
                        <p><strong>Fuel Type:</strong> ${data.car_fuel_type}</p>
                        <p><strong>Transmission:</strong> ${data.car_transmission}</p>
                        <p><strong>Seats:</strong> ${data.car_seats}</p>
                        <p><strong>Doors:</strong> ${data.car_doors}</p>
                        <p><strong>Air Conditioning:</strong> ${data.car_air_conditioning ? 'Yes' : 'No'}</p>
                        <p><strong>Navigation:</strong> ${data.car_navigation ? 'Yes' : 'No'}</p>
                        <img src="${data.car_image}" alt="Car image" class="img-fluid">
                    `;

                        // Populate booking information in the modal
                        document.getElementById('bookingInfo').innerHTML = `
                        <p><strong>Start Date:</strong> ${formatDate(data.booking_start_date)}</p>
                        <p><strong>End Date:</strong> ${formatDate(data.booking_end_date)}</p>
                        <p><strong>Pick Up Time:</strong> ${data.booking_pick_up_time}</p>
                        <p><strong>Drop Off Time:</strong> ${data.booking_drop_off_time}</p>
                        <p><strong>Pickup Office:</strong> ${data.pickup_office}</p>
                        <p><strong>Return Office:</strong> ${data.return_office}</p>
                        <p><strong>Child Seat:</strong> ${data.booking_child_seat ? 'Yes' : 'No'}</p>
                        ${data.booking_child_seat ? `<p><strong>Child Seat Option:</strong> ${data.booking_child_seat_option}</p>` : ''}
                        <p><strong>Extra Insurance:</strong> ${data.booking_extra_insurance ? 'Yes' : 'No'}</p>
                        <p><strong>Left a review?</strong> ${data.booking_review_left ? 'Yes' : 'No'}</p>
                        <p><strong>Status:</strong> ${data.booking_status}</p>
                        <p><strong>Rental Days:</strong> ${data.booking_rental_days}</p>
                        <p><strong>Total Price:</strong> ${data.total_price}€</p>
                    `;

                        // Populate customer information in the modal    
                        document.getElementById('customerInfo').innerHTML = `
                        <p><strong>Name:</strong> ${data.customer_first_name} ${data.customer_last_name}</p>
                        <p><strong>Email:</strong> ${data.customer_email}</p>
                        <p><strong>Phone Number:</strong> ${data.customer_phone_number}</p>
                        <p><strong>Date of Birth:</strong> ${formatDate(data.customer_date_of_birth)}</p>
                    `;

                        // Show the modal
                        modal.show();
                    })
                    .catch(error => {
                        console.error('Error fetching booking details:', error);
                    });
            });
        });
    });
</script>
{% endblock %}