{% load static %}

{% url 'home' as home_url %}
{% url 'booking' as booking_url %}
{% url 'my_profile' as my_profile_url  %}
{% url 'my_bookings' as my_booking_url  %}
{% url 'my_reviews' as my_reviews_url  %}
{% url 'locations' as locations_url %}
{% url 'contact_us' as contact_us_url %}
{% url 'account_login' as login_url %}
{% url 'account_signup' as signup_url %}
{% url 'account_logout' as logout_url %}

<!DOCTYPE html>
<html class="h-100" lang="en">

<head>
    <!-- Page Title -->
    <title>Car Rental</title>

    <!-- Viewport Meta Tag for Responsive Design -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Meta Tags for SEO -->
    <meta name="description" content="Car Rental Services at all airports in Ireland">
    <meta name="keywords"
        content="car rent, rental Ireland, EireWheels, rental in airport, cheapest rental Ireland, rent a car">
    <meta name="author" content="Oleksii Kovalenko">

    <!-- Favicon for the website -->
    <link rel="icon" href="{% static 'images/favicon.png' %}" type="image/png">

    <!-- Google Fonts  -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">

    <!-- Stylesheets -->
    <!-- Font Awesome for Icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <!-- Bootstrap Icons for Additional Icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <!-- Bootstrap CSS for Responsive Layout and Components -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <!-- LeafletJS CSS for Maps -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css">
    <!-- Custom Stylesheet for Site-Specific Styles -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>

<body class="d-flex flex-column h-100 main-bg">

    <!-- Navigation Bar -->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top text-light ">
        <div class="container-fluid">
            <!-- Brand Logo -->
            <a class="navbar-brand logo" href="{% url 'home' %}">
                <img src="{% static 'images/logo.png' %}" alt="EireWheels Logo" class="brand-logo">
            </a>
            <!-- Navbar Toggler for Mobile View -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
                aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <!-- Collapsible Navbar Content -->
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 text-uppercase text-center">
                    <!-- Navigation Links -->
                    <li class="nav-item">
                        <a class="nav-link {% if request.path == home_url %}active{% endif %}" aria-current="page"
                            href="{% url 'home' %}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if request.path == booking_url %}active{% endif %}" aria-current="page"
                            href="{% url 'booking' %}">Booking</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if request.path == locations_url %}active{% endif %}" aria-current="page"
                            href="{% url 'locations' %}">Locations</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if request.path == contact_us_url %}active{% endif %}" aria-current="page"
                            href="{% url 'contact_us' %}">Contact Us</a>
                    </li>

                    <!-- Mobile Divider -->
                    <li class="nav-item mobile-divider d-lg-none"></li>

                    <!-- Authenticated User Links (Mobile View) -->
                    {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link d-lg-none {% if request.path == my_profile_url %}active{% endif %}"
                            aria-current="page" href="{% url 'my_profile' %}">My Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link d-lg-none {% if request.path == my_booking_url %}active{% endif %}"
                            aria-current="page" href="{% url 'my_bookings' %}">My Bookings</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link d-lg-none {% if request.path == my_reviews_url %}active{% endif %}"
                            aria-current="page" href="{% url 'my_reviews' %}">My Reviews</a>
                    </li>
                    <li class="nav-item"><a
                            class="nav-link  d-lg-none {% if request.path == logout_url %}active{% endif %}"
                            href="{% url 'account_logout' %}">Sign Out</a></li>
                    {% endif %}

                </ul>
                <!-- Authenticated User Dropdown (Desktop View) -->
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0 text-center">
                    {% if user.is_authenticated %}
                    <li class="nav-item dropdown d-none d-lg-block">
                        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            {% if user.profile.photo %}
                            <img src="{{ user.profile.photo.url }}" alt="User Photo" class="rounded-circle" width="30"
                                height="30">
                            {% else %}
                            <i class="fa-solid fa-user"></i>
                            {% endif %}
                            {{ user.username }}
                        </a>
                        <!-- Dropdown Menu -->
                        <ul class="dropdown-menu dropdown-menu-end " aria-labelledby="userDropdown">
                            <li><a class="nav-link text-uppercase {% if request.path == my_profile_url %}active{% endif %}"
                                    href="{% url 'my_profile' %}">My Profile</a></li>
                            <li><a class="nav-link text-uppercase {% if request.path == my_booking_url %}active{% endif %}"
                                    href="{% url 'my_bookings' %}">My Bookings</a></li>
                            <li><a class="nav-link text-uppercase {% if request.path == my_reviews_url %}active{% endif %}"
                                    href="{% url 'my_reviews' %}">My Reviews</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="nav-link text-uppercase {% if request.path == logout_url %}active{% endif %}"
                                    href="{% url 'account_logout' %}">Sign Out</a></li>
                        </ul>
                    </li>
                    {% else %}
                    <!-- Authentication Links -->
                    <li class="nav-item">
                        <a class="nav-link text-uppercase {% if request.path == login_url %}active{% endif %}"
                            aria-current="page" href="{% url 'account_login' %}">Sign In</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-uppercase {% if request.path == signup_url %}active{% endif %}"
                            aria-current="page" href="{% url 'account_signup' %}">Sign Up</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>

    <!-- Main Content Area -->
    <main class="flex-shrink-0 main-bg">
        <div class="content-container">
            <!-- Displaying Django messages -->
            <div class="row">
                <div class="col-md-8 offset-md-2 text-center">
                    {% if messages %}
                    {% for message in messages %}
                    <div
                        class="mt-3 alert mb-0 {% if message.tags %}alert-{{ message.tags }}{% else %}alert-info{% endif %}">
                        {{ message }}
                    </div>
                    {% endfor %}
                    {% endif %}
                </div>
            </div>

            <!-- Page Specific Content -->
            <div class="">
                {% block content %}
                <!-- Content Goes here -->
                {% endblock content %}
            </div>
        </div>
    </main>

    <!-- Footer Section -->
    <footer class="footer mt-auto py-3">
        <div class="container">
            <div class="row d-flex justify-content-between text-center">
                <!-- Contact Information -->
                <div class="">
                    <p class="h5">Contact Us</p>
                    <div class="d-md-flex justify-content-between">
                        <p class="mb-1"><i class="fas fa-envelope"></i> <a
                                href="mailto:support@eirewheels.ie">support@eirewheels.ie</a>
                        </p>
                        <p class="mb-1"><i class="fas fa-map-marker-alt"></i> <a
                                href="https://www.google.com/maps?q=123+Main+Street,+Dublin,+Ireland"
                                target="_blank">123
                                Main Street, Dublin, Ireland</a></p>
                        <p class="mb-1"><i class="fas fa-phone"></i> <a href="tel:+35312345678">+353 1 234 5678</a></p>
                    </div>
                </div>
            </div>
            <hr class="bg-light">
            <div class="row text-center">
                <div class="col-md-6 text-md-start">
                    <p class="mb-0">&copy; 2024 EireWheels - For educational purposes</p>
                </div>
                <div class="col-md-6 text-md-end">
                    <!-- Footer Links -->
                    <a href="#" data-bs-toggle="modal" data-bs-target="#privacyPolicyModal">Privacy Policy</a>
                    <span class="text-light mx-2">|</span>
                    <a href="#" data-bs-toggle="modal" data-bs-target="#termsConditionsModal">Terms and
                        Conditions</a>
                </div>
            </div>
        </div>

        <!-- Privacy Policy Modal -->
        <div class="modal fade" id="privacyPolicyModal" tabindex="-1" aria-labelledby="privacyPolicyModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title text-dark" id="privacyPolicyModalLabel">Privacy Policy</h3>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body text-dark">
                        <p>Welcome to EireWheels! Your privacy is important to us. This Privacy Policy outlines how
                            we
                            collect, use, and protect your personal information when you visit our website or use
                            our
                            services.</p>

                        <h5>1. Information We Collect</h5>
                        <p>We collect personal information such as your name, email address and phone number when
                            you
                            book a car through our website. We also collect data about your browsing
                            activities and interactions with our website.</p>

                        <h5>2. How We Use Your Information</h5>
                        <p>Your personal information is used to process your bookings, communicate with you, and
                            improve
                            our services. We may also use your information to send promotional offers or updates,
                            but
                            only if you have opted to receive them.</p>

                        <h5>3. Data Retention</h5>
                        <p>We retain your personal information for as long as necessary to fulfill the purposes
                            outlined
                            in this policy or as required by law. We take steps to ensure that your data is securely
                            stored and protected.</p>

                        <h5>4. Sharing Your Information</h5>
                        <p>We may share your information with third-party service providers who assist us in
                            operating
                            our website and providing our services. We do not sell or rent your personal information
                            to
                            third parties.</p>

                        <h5>5. Data Security</h5>
                        <p>We implement appropriate technical and organizational measures to protect your personal
                            information against unauthorized access, alteration, or destruction.</p>

                        <h5>6. Your Rights</h5>
                        <p>You have the right to access, correct, or delete your personal information. You can also
                            object to or restrict the processing of your data. To exercise these rights, please
                            contact
                            us at support@eirewheels.ie.</p>

                        <h5>7. Contact Us</h5>
                        <p>If you have any questions about this Privacy Policy or our data practices, please contact
                            us
                            at support@eirewheels.ie.</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-bs-dismiss="modal"
                            aria-label="Close">OK</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Terms and Conditions Modal -->
        <div class="modal fade" id="termsConditionsModal" tabindex="-1" aria-labelledby="termsConditionsModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title text-dark" id="termsConditionsModalLabel">Terms and Conditions</h3>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body text-dark">
                        <h5>Introduction</h5>
                        <p class="small">Welcome to our car rental service. By using our website and services, you
                            agree
                            to comply with and be bound by the following terms and conditions. Please review them
                            carefully.</p>
                        <h5>1. Rental Agreement</h5>
                        <p class="small m-0">1.1. The rental agreement is between the customer (hereinafter referred
                            to
                            as "You" or "Customer") and our car rental company (hereinafter referred to as "We" or
                            "Company").</p>
                        <p class="small">1.2. By renting a vehicle from us, you agree to the terms and conditions
                            outlined in this document.</p>
                        <h5>2. Eligibility</h5>
                        <p class="small m-0">2.1. You must be between 23 and 70 years old to rent a vehicle.</p>
                        <p class="small m-0">2.2. You must possess a valid driver’s license that is recognized in
                            Ireland.</p>
                        <p class="small">2.3. Additional drivers must meet the same eligibility criteria and be
                            listed
                            in the rental agreement.</p>
                        <h5>3. Booking and Confirmation</h5>
                        <p class="small m-0">3.1. A booking is confirmed if a vehicle is available and we can
                            provide
                            it.</p>
                        <p class="small">3.2. Payment is to be made via credit or debit card upon vehicle pick-up.
                        </p>
                        <h5>4. Cancellations and Refunds</h5>
                        <p class="small">4.1. No additional charges are incurred for canceling a booking.</p>
                        <h5>5. Vehicle Pick-up and Return</h5>
                        <p class="small m-0">5.1. Vehicles must be picked up and returned at the specified times and
                            locations.</p>
                        <p class="small m-0">5.2. Late returns may incur additional charges.</p>
                        <p class="small">5.3. The vehicle must be returned in the same condition as it was at the
                            time
                            of pick-up.</p>
                        <h5>6. Usage of the Vehicle</h5>
                        <p class="small m-0">6.1. The vehicle is to be used for personal transportation only.</p>
                        <p class="small m-0">6.2. You are not allowed to sublease or lend the vehicle to others.</p>
                        <p class="small">6.3. You must comply with all traffic laws and regulations.</p>
                        <h5>7. Insurance and Liability</h5>
                        <p class="small m-0">7.1. Basic insurance is included in the rental price.</p>
                        <p class="small m-0">7.2. Additional insurance options are available and recommended.</p>
                        <p class="small">7.3. You are responsible for any damages to the vehicle not covered by the
                            insurance.</p>
                        <h5>8. Fuel Policy</h5>
                        <p class="small m-0">8.1. The vehicle will be provided with a full tank of fuel and must be
                            returned with a full tank.</p>
                        <p class="small">8.2. Failure to return the vehicle with a full tank will result in a
                            refueling
                            charge.</p>
                        <h5>9. Privacy and Data Protection</h5>
                        <p class="small">9.1. We are committed to protecting your privacy. All personal data
                            collected
                            during the booking process will be handled in accordance with our Privacy Policy.</p>
                        <h5>10. Amendments</h5>
                        <p class="small">10.1. We reserve the right to amend these terms and conditions at any time.
                            Any
                            changes will be posted on our website.</p>
                        <h5>11. Governing Law</h5>
                        <p class="small">11.1. These terms and conditions are governed by the laws of Ireland.</p>
                        <h5>Acceptance of Terms</h5>
                        <p class="small">By using our services, you acknowledge that you have read, understood, and
                            agree to be bound by these terms and conditions.</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-bs-dismiss="modal"
                            aria-label="Close">OK</button>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- JavaScript Libraries and Files -->
    <!-- jQuery Library: A fast, small, and feature-rich JavaScript library -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- Bootstrap Bundle JS: Includes Bootstrap's JavaScript components and Popper.js -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script>

    <!-- Custom JavaScript File: Contains site-specific JavaScript code -->
    <script src="{% static 'js/script.js' %}"></script>

    <!-- Font Awesome Kit: Provides additional icons for use throughout the site -->
    <script src="https://kit.fontawesome.com/1e754c32b5.js" crossorigin="anonymous"></script>
</body>

</html>