.brand-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navbar-text {
    margin-top: -10px;
}

.navbar-nav .nav-item .nav-link img {
    margin-right: 8px;
}

#map { 
    height: 400px; 
    width: 100%; 
}

#officeName,
#officePhone,
#officeHours {
    font-size: 1.25rem;
}

/* -----------------Car list---------------------- */
.image-container {
    position: relative;
    height: 190px;
    overflow: hidden;
}

.car-image {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 80%;
    height: auto;
    transform: translate(-50%, -50%);
    object-fit: cover;
}

.car-info p,
.search-form p {
    margin-bottom: 0;
}

.form-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.form-row .col-md-3 {
    flex: 1;
    padding-right: 1rem;
}

.hide-select-arrow {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: none;
    border: none;
    pointer-events: none;
    padding: 0;
    font-size: 1rem;
    color: #574e49;
}

.btn-link {
    padding: 0;
}

.btn-link:focus {
    outline: none;
    box-shadow: none;
}

.alert-error {
    color: #842029;
    background-color: #f8d7da;
    border-color: #f5c2c7;
}

.age-limit {
    margin-bottom: 0;
    font-size: 0.75rem;
}



/* ----------------Stars in review ----------------*/
/* .rating {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
}

.rating input {
    display: none;
}

.rating label {
    position: relative;
    width: 1em;
    font-size: 3vw;
    color: #FFD700;
    cursor: pointer;
}

.rating label::before {
    content: "\2605";
    position: absolute;
    opacity: 0;
}

.rating label:hover:before,
.rating label:hover ~ label:before {
    opacity: 1 !important;
}

.rating input:checked ~ label:before {
    opacity: 1;
}

.rating input:checked + label:hover:before,
.rating input:checked ~ label:hover:before,
.rating label:hover ~ input:checked ~ label:before,
.rating input:checked ~ label:hover ~ label:before {
    opacity: 0.4;
} */

/* ----------------END Stars in review END ----------------*/

.star-rating {
    display: inline-block;
    font-size: 24px; /* Размер звездочек */
    unicode-bidi: bidi-override;
    direction: rtl;
}

.star-rating input {
    display: none;
}

.star-rating label {
    color: #ccc; /* Цвет неактивных звездочек */
    cursor: pointer;
}

.star-rating label:before {
    content: '★';
}

.star-rating input:checked ~ label {
    color: #ffcc00; /* Цвет активных звездочек */
}

.star-rating input:checked ~ label {
    color: #ffcc00; /* Цвет активных звездочек */
}

.star-rating label:hover,
.star-rating label:hover ~ label {
    color: #ffcc00; /* Цвет звездочек при наведении */
}
