.brand-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navbar-text {
    margin-top: -10px;
}

.navbar-nav .nav-item .nav-link img {
    margin-right: 8px;
}

#map { 
    height: 400px; 
    width: 100%; 
}

#officeName,
#officePhone,
#officeHours {
    font-size: 1.25rem;
}

/* -----------------Car list---------------------- */
.image-container {
    position: relative;
    height: 190px;
    overflow: hidden;
}

.car-image {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 80%;
    height: auto;
    transform: translate(-50%, -50%);
    object-fit: cover;
}

.car-info p,
.search-form p {
    margin-bottom: 0;
}

.form-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.form-row .col-md-3 {
    flex: 1;
    padding-right: 1rem;
}

.hide-select-arrow {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: none;
    border: none;
    pointer-events: none;
    padding: 0;
    font-size: 1rem;
    color: #574e49;
}

.btn-link {
    padding: 0;
}

.btn-link:focus {
    outline: none;
    box-shadow: none;
}

.alert-error {
    color: #842029;
    background-color: #f8d7da;
    border-color: #f5c2c7;
}

.age-limit {
    margin-bottom: 0;
    font-size: 0.75rem;
}



/* ----------------Stars in review ----------------*/

.star-rating {
    display: inline-flex;
    flex-direction: row;
    justify-content: flex-start;
}

.star-rating input {
    display: none;
}

.star-rating label {
    cursor: pointer;
    font-size: 2rem;
    color: gray;
    margin: 0;
    padding: 0;
}

.star-rating label.checked,
.star-rating label.preview {
    color: gold;
}

/* .star-rating label:hover,
.star-rating label:hover ~ label {
    color: gold;
} */

.star-rating label.preview:hover,
.star-rating label.preview:hover ~ label {
    color: gold;
}


/* ----------------END Stars in review END ----------------*/