.brand-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navbar-text {
    margin-top: -10px;
}

.navbar-nav .nav-item .nav-link img {
    margin-right: 8px;
}

.mobile-divider {
    border-bottom: 1px solid #ddd;
    margin: 8px 0;
    width: 100px;
}

#map { 
    height: 400px; 
    width: 100%; 
}

#officeName,
#officePhone,
#officeHours {
    font-size: 1.25rem;
}

.content-container {
    margin-top: 80px;
}

/* -----------------Car list---------------------- */
.image-container {
    position: relative;
    height: 190px;
    overflow: hidden;
}

.car-image {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 80%;
    height: auto;
    transform: translate(-50%, -50%);
    object-fit: cover;
}

.car-info p,
.search-form p {
    margin-bottom: 0;
}

.form-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.form-row .col-md-3 {
    flex: 1;
    padding-right: 1rem;
}

.hide-select-arrow {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: none;
    border: none;
    pointer-events: none;
    padding: 0;
    font-size: 1rem;
    color: #574e49;
}

.btn-link {
    padding: 0;
}

.btn-link:focus {
    outline: none;
    box-shadow: none;
}

.alert-error {
    color: #842029;
    background-color: #f8d7da;
    border-color: #f5c2c7;
}

.age-limit {
    margin-bottom: 0;
    font-size: 0.75rem;
}



/* ----------------Stars in review ----------------*/

.star-rating {
    display: inline-flex;
    flex-direction: row;
    justify-content: flex-start;
}

.star-rating input {
    display: none;
}

.star-rating label {
    cursor: pointer;
    font-size: 2rem;
    color: gray;
    margin: 0;
    padding: 0;
}

.star-rating label.checked,
.star-rating label.preview {
    color: gold;
}

/* .star-rating label:hover,
.star-rating label:hover ~ label {
    color: gold;
} */

.star-rating label.preview:hover,
.star-rating label.preview:hover ~ label {
    color: gold;
}


/* ----------------END Stars in review END ----------------*/

.comment-field {
    height: 150px;
    overflow-y: auto;
    overflow-x: hidden;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.review-field {
    height: 100px;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 10px;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.faded {
    color: rgb(172, 175, 175);
}

/* ----------------Review Carousel ----------------*/
/* .carousel-item {
    display: flex;
} */

.carousel-item .row {
    width: 100%;
}

.carousel-item .col-md-6 {
    flex: 1;
    padding: 0 10px;
}

@media (max-width: 576px) {
    .carousel-item .col-md-6 {
        flex: 1 0 100%;
        padding: 0;
    }
}

  @media screen and (min-width: 576px) {
    .carousel-inner {
      display: flex;
    }
    .carousel-item {
      display: flex;
      display: block;
      margin-right: 0;
      flex: 0 0 calc(100% / 2);
    }
    .img-wrapper {
      height: 21vw;
    }
  }

  /* @media screen and (min-width: 1200px) {
    .carousel-item {
      flex: 0 0 calc(100% / 3);
    }
  } */

  .carousel-inner {
    padding: 1em;
  }
  .card {
    margin: 0 0.5em;
    border-radius: 0;
    box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
    font-size: 0.9em;
  }
  
  .carousel-control-prev,
  .carousel-control-next {
    width: 6vh;
    height: 6vh;
    background-color: #e1e1e1;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0.5;
  }
  .carousel-control-prev:hover,
  .carousel-control-next:hover {
    opacity: 0.8;
  }

  /* ----------------END Review Carousel ----------------*/


  /* ----------------Shrink the brand on small screens---------- */
  .navbar .container-fluid {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.brand-container {
    display: flex;
    flex-direction: column;
}

@media (max-width: 350px) {
    .navbar-brand {
        flex-grow: 1;
    }

    .brand {
        font-size: 1.2rem;
    }

    .navbar-text {
        font-size: 0.8rem;
    }

    .navbar-toggler {
        margin-left: auto;
    }
}

  /* ----------------END Shrink the brand on small screens---------- */